        .navbar{
            list-style: none;
            overflow: hidden;
            padding: 0;
            background-color:lightslategray;
        }

        .navbar a, .dropdown div{
            text-decoration: none;
            color: white;
            font-size: 24px;
            padding: 16px;
            display:inline-block;
        }
        .navbar li{
            float: left;
        }

        .navbar li:hover{
            background-color: pink;
        }

        .dropdown-content{
            list-style: none;
            padding: 0;
            display: none;
            position: absolute;
            z-index: 1;
            background-color: black;
        }

        .dropdown-content li{
            float: none;
        }

        .dropdown:hover .dropdown-content{
            display: block;
        }

        .dropdown {
            list-style: none;

        }
        .dropdown li{
            float: none;

        }

        .rotateimg180{
            -webkit-transform:rotate(180deg);
             -moz-transform: rotate(180deg);
             -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
              transform: rotate(180deg);
        }

        body {
  background-image: url("jah.jpg");
}

